body {
    background: #000 !important;
    color: white !important;
}

.tx-center{
    text-align: center
}

.boton-verde{
    border-radius: 0px;
}

.mt-60{
    margin-top: 60px;
}
#question h5{
    font-size: 32px;
    font-weight: bold;
}
#responses,
#question {
    display: none;
}
#question{
        width: 100%;
}

#question, .answer .col-md-6{
    border: 1px solid #fff; 
    padding: 10px 0;
}

.answer .col-md-6{
    text-align: center;
}

.answer{
    margin-top:30px;
}